@charset "UTF-8";
/* CSS Document */

body{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	color: black;
	font-family: verdana;
	font-size: 12px;
	background-color:#EDEEF0;  /* 333 */
	text-align: center;
}

#titlebox{ /* login box titel div */ 
	background: #435B77;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 4px solid #2F4763;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 10px 10px; 
	margin-bottom: 30px;
}

#loginbox h2{ /* login box titel */ 
	font-size: 18px;
	font-weight: normal;
	color: #fff;	
}

#loginbox ul{
	list-style-type: none;
}

#loginbox{
	border:1px solid #D4D4D4;
	font-family: 'Helvetica Neue' ; 
	background: #fff;
	margin:0 auto;
	width:360px;
	height:auto;
	min-height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px; /* half the height of the div */
	margin-left: -180px; /* half the width of the div */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px 10px 10px 10px; 
	padding-left: 0px;
}

#loginbox li label{ /* titels van de velden */ 
	color: #4f4f4f;
}	

#loginbox .username, #loginbox .password{
	background: #f8f8f8;
	border:1px solid #D4D4D4;
	padding: 5px;
	min-width: 200px;
	min-height: 25px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px; 
}

#loginbox .username{
	background-image:url('../images/user.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 20px 20px;
}	

#loginbox .password{
	background-image:url('../images/password.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 20px 20px;
}	

#loginbox li input:focus{
	outline-color: #1D65F6;
}

#loginbox .forgotpassword{ /* lost your password tekst */ 
	position: absolute;
	left: 5px;
	bottom: 5px;
}

#loginbox .loginform{ /* inhoud van login formulier */ 
	text-align: left;
	display: inline-block;
	overflow: hidden;
}

#loginbox .loginform li:first-child{
	padding-bottom: 20px;
}

#loginbox .link_button.large{ /* login button */ 
	cursor: pointer;
	font-size: 14px;
	background: black;
	color: #fff;
	width: 120px;
	height:30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: 1px solid black;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px; 
}

#loginbox .link_button.large:hover{
	background: #435B77;
}

#loginbox a{ /* register new student link */ 
	color: black;
}

#loginbox a:hover{ /* register new student link */ 
	color: #435B77;
}

::selection{ /* tekst selecteren en dan wordt het blauw niceee */ 
	background:#f2f2f2;
	color: black;
}

::-moz-selection{
	background:#f8f8f8;
	color: black;
}

::-webkit-selection{
	background:#f8f8f8;
	color:black;
}


.captcha {
	display: block;
	overflow: hidden;
	clear: both;
	padding-bottom: 50px;
}
#recaptcha {
	list-style-type: none;
}

