@charset "UTF-8";
/* CSS Document */

@import url("<?php echo $includes_dir;?>Foundation/css/foundation.css");

body{
	background-image:url('../images/background.jpg');
}

h1{
	font-family: 'Myriad Pro';
	font-size: 50pt;
	font-weight: normal;
	color: #f9fafb;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	
}

h1 .UML{
	font-weight: bold;
	color: #0a72ff;
}

h2{
	font-size: 13pt;
	color: #a1a0a0;
	font-weight: normal;
	padding: 0;
	margin: 0;
	letter-spacing: 0.8em;
	text-rendering: optimizeSpeed;
	line-height: 1px;
	padding-bottom: 10px;
}

nav.top-bar{ /* navigatie */	
	margin-top: -110px;
}

.header .row{ /* header titel */
	display: block;
}

.header_wrapper{ /* grijze achtergrond header */ 
	height: 300px;
	z-index: -10;

	background-image:url('../images/header.jpg');
	background-repeat: x-repeat;
	background-position: absolute;
}

#container .row .large-12{ /* inhoud */ 
	background: #fff;
}

.koptekst{ /* welkom + log out */ 
	text-align: right;
	padding-top: 10px;
	color: #f9fafb;
}

.koptekst a{
	color: #a1a0a0;
}

.koptekst a:hover{
	color: #0a72ff;
}

.row  { /* breedte container */ 
	max-width: 75em;
}

