@charset "UTF-8";
/* CSS Document */

@import url("<?php echo $includes_dir;?>Foundation/css/foundation.css");

body{
	background-image:url('../images/background.jpg');
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.h2bg{
	background: #DFDFDF;
	height: 70px;
	width: 1120px;
	margin-left: -13px !important;
	margin-top: 0;
	margin-bottom: 10px;
	padding: 10px;
}

.backtoass{
	float: right;
	font-size: 0.8em;
}

.goedkeuren{
	float:right;
}

@media only screen and (max-width: 1080px ){
	.backtoass, .goedkeuren{
		clear: both;
		float: left;
	}
	.h2bg{
		height: 120px;
	}
}	

.checker:hover{
	color: black !important;
}

.cijfer{
	background-image:url('../images/cijfer.jpg');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	clear:both;
	float:left;
	margin-right: 20px;
	line-height: 1.4em;
	font-weight:normal;
	font-size: 1.8em;
	text-align: center;
}

.mistake{
	background-image:url('../images/mistake.jpg');
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	float:right;
	padding-left: 12px; 
	padding-top: 8px;
	color: #fff;
	border-radius: 10px;
	font-size: 1.1em;
}

.checkedbutton{
	background-image:url('../images/checked.jpg');
	width: 55px;
	height: 40px;
	background-repeat: no-repeat;
	float:right;
	margin-right: -20px;
}

.notcheckedbutton{
	background-image:url('../images/notchecked.jpg');
	width: 55px;
	height: 40px;
	background-repeat: no-repeat;
	float:right;
}

.delete{
	background-image:url('../images/notchecked.jpg');
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	text-indent: -999px;
	display: block;
	border: none;
}

.modify{
	background-image:url('../images/edit.png');
	background-size: 25px 25px;
	width: 55px;
	height: 40px;
	background-repeat: no-repeat;
	text-indent: -999px;
	display: block;
}

h4{
	font-size: 0.9em;
	color: #4f4f4f;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 !important;
}

h4 span{
	text-transform: none;
}

.button.small{
	font-size: 0.9125em;
}

label{
	font-size: 0.975em;
}

.status_msg{
	padding: 10px;
	color: #fff;
	background:#5da423;
	border: 1px solid #457a1a;
}

.error_msg{
	background: #C60F13;
	padding: 10px;
	color: #fff;
}

/* dashboard assignents overview */ 
#asstocheck{
	max-width: 375px;
}

/********   handed in assignments per student       ********/
.assignmentstudents thead{
	background: none;
}

.assignmentstudents th{
	color:#435B77;
	font-weight: bold !important;
	font-size: 11pt;
}

.assignmentstudents{
	border: none;
}

.assignmentstudents tr:nth-of-type(even){
	background: none;
}

.nothandedin{
	background-image:url('../images/nothandedin.jpg');
	width: 55px;
	height: 40px;
	background-repeat: no-repeat;
}

.handedin{
	background-image:url('../images/handedin.jpg');
	width: 55px;
	height: 40px;
	background-repeat: no-repeat;
}

th.handedin, th.nothandedin{
	padding-left: 60px;
}
/******** handed in assignments per student        ********/

select{
	width: auto;
}

input, textarea{
	max-width: 600px;
}

.button{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.dashboard table{
	margin-left: 10px;
	float: left;
	max-width: 450px;
	width: 100%;
}

.classes{
	max-height: 450px;
	overflow-y: scroll;
}
.assignments{
	height: 700px;
	overflow-y: scroll;
}

.users{
	height: 500px;
	overflow-y: scroll;
}

.dashboard{
	max-height: 450px;
	overflow-y: scroll;
}

.dashboard.large-6{
	margin-bottom: 10px;
}


/* graph dashboard */ 
#graphHolder2graph, #graphHolder3graph{
	clear: both;
	float: left;
}

/* graph dashboard */ 
.legendlabelgraph{
	margin-bottom: 10px;
}

/* deadline dashboard */
.large-3.columns.deadline{
	background: #f2f2f2; 
	border: 1px solid #8f8f8f; 
	border-radius: 10px; 
	height: auto; 
	max-width: 290px;
}

.check{
	background: none;
	border:none;
	text-decoration: underline;
	font-size: 14px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.margin-left{
	margin-left: 20px;
}

table tfoot .button{
	margin-bottom: 0;
}

table thead{
	background: #435B77;
}

table thead tr th{
	border-bottom: 1px solid black;
	font-weight: normal !important;
	color: #f2f2f2;
	padding: 10px;
	border: none;
}

.header .row h1{
	font-family: 'Myriad Pro', 'PT Sans', Arial;
	font-size: 4.3em;	
	font-weight: normal;
	color: #f9fafb;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	text-shadow:2px 2px 2px black;
}

.header .row h1 .UML{
	font-weight: bold;
	color: #0a72ff;
}

.header .row h2{
	font-size: 1.1em;
	color: #a1a0a0;
	font-weight: normal;
	padding: 0;
	margin: 0;
	letter-spacing: 0.8em;
	text-rendering: optimizeSpeed;
	line-height: 1px;
	padding-bottom: 10px;
	text-shadow:2px 2px 2px black;
}

@media only screen and (max-width: 510px){
	.header .row h2{
		letter-spacing: 0.28em; 
	}
	.header .row h1{
		font-size: 30pt; 
	}
}

.top-bar-section ul li a:hover, .top-bar-section ul li a:active{
	background: #fff !important;
	color: #2f2f2f;
}

nav.top-bar{ /* navigatie */	
	margin-top: -110px;
}

.header .row{ /* header titel */
	display: block;
}

.header_wrapper{ /* grijze achtergrond header */ 
	height: 300px;
	z-index: -10;

	background-image:url('../images/header.jpg');
	background-repeat: x-repeat;
	background-position: absolute;
}

#container .row .large-12{ /* inhoud */ 
	background: #fff;
	line-height: 1.5em;
	font-size: 0.875em;
}

.koptekst{ /* welkom + log out */ 
	text-align: right;
	padding-top: 10px;
	color: #f9fafb;
}

.koptekst a{
	color: #a1a0a0;
}

.koptekst a:hover{
	color: #0a72ff;
}

.row  { /* breedte container */ 
	max-width: 70em;
}

.padding{
	padding: 10px;
}

ul{
	list-style-type: none;
}

h2{
	font-size: 13pt;
}

h3{
	font-size: 11pt;
	color: #435B77;
	
}

/* dashboard images */



/* Image Box Style */
#mainwrapper .box {
	
	cursor: pointer;
	height: 170px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
	width: 250px;
		-webkit-box-shadow: 1px 1px 1px 1px #ccc;
		-moz-box-shadow: 1px 1px 1px 1px #ccc;
		box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
	position: absolute;
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#mainwrapper .box .scale-caption  {
	opacity: 0;
	width: 250px;
	height: 185px;
	text-align: left;
	padding: 15px;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
	position: relative;
	left: -200px;
	
	width: 170px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;	
	transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
}


/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .scale-caption  {
	opacity: 1;
}


/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
}
/* dashboard images */ 

.red {
	color:#f40202;
}


